#title{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: lightgray;
}
#header_element{
    padding: 5pt;
}
#flex_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#buttondiv{
    width: 10%;
    justify-content: center;
}
#maindiv{
    width: 70%;
    padding: 10pt;
}
#image{
    max-width: 20%;
    justify-items: right;
}
.button{
    width: 100%;
    padding: 5pt;
}
#kep{
    max-width: 100%;
}